dialog {
    animation: myAnim 1s ease 0s 1 normal forwards;
    border-radius: calc(0.25rem - 1px);
    border-color: mediumpurple;
    font-size: 15px;
}
@keyframes myAnim {
    0% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0);
    }
}
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 615px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.card {
    margin-bottom: 20px !important;
    width: 18rem;
}